---
import BaseLayout from '../layouts/BaseLayout.astro';
const base = '/portfolio';
---
<BaseLayout title="ADEN Course" base={base}>
  <h1>ADEN Course</h1>
  <p>I took this ADEN course in 10th grade and earned an overall grade of A.</p>
  <p><strong>ADEN</strong> stands for <strong>A</strong>dvanced <strong>D</strong>ata Structures, <strong>E</strong>mbedded Systems, and <strong>N</strong>etworking. It is taught by Mr. Scott Murray. The course is designed as an extension of AP Computer Science A and covers a variety of computer science topics. There is both individual and group work during the course.</p>
  <ul>
    <li><a href={`${base}/projects/aden`}>ADEN Projects</a></li>
  </ul>
</BaseLayout>
