---
import BaseLayout from '../layouts/BaseLayout.astro';
const base = '/portfolio';
---
<BaseLayout title="Home" base={base}>
  <h1>Arnav Krishnan</h1>
  <p>Use the navigation bar to learn more about me, or see my projects.</p>
</BaseLayout>
